@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(1.1);
  }
}

/* Utility classes for the animation */
.animate-wave {
  animation: wave 1s infinite ease-in-out;
}

.transport-button {
  @apply relative flex transform items-center justify-center border-none outline-none transition-transform duration-300 ease-in-out hover:scale-110;
}

.custom-scroll-bar {
  @apply [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-neutral-500 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar]:w-2;
}
